@model LoginModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h3 class="text-primary">Login</h3>
                </div>
                <div class="mb-3">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" placeholder="Enter Your Name" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" placeholder="Enter Your Address" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <div class="row">
                    <div class="col-6 p-3">
                        <button class="btn btn-primary form-control" type="submit">Login</button>
                    </div>
                    @*  <div class="col-6">
                    <a asp-page=""  class="btn btn-secondary border form-control">Back to the list</a>
                    </div> *@
                </div>
                
            </div>
            
        </div>
        <div class="col-md-6">
            <img src="/img/userimg.jpg" />
        </div>
    </div>
   

</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
